---
layout: articles
title: Projects
permalink: /projects
# cover: /docs/assets/images/axure/articles-item-cover-excerpt-readmore-info.jpg
articles:
  data_source: site.projects_page
  show_excerpt: true
  show_readmore: true
  show_info: true
---

<!-- {% for post in site.projects_page %}
  {% assign currentdate = post.date | date: "%Y" %}
  {% if currentdate != date %}
    {% unless forloop.first %}</ul>{% endunless %}
    <h1 id="y{{post.date | date: "%Y"}}">{{ currentdate }}</h1>
    <ul>
    {% assign date = currentdate %}
  {% endif %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% if forloop.last %}</ul>{% endif %}
{% endfor %} -->